.title{
  font-weight: 600;
  color: red;
}

h1 { color: red; }
.ngclass-color {color: green}
.bgColor{background-color: yellow}
.textcolor{color: red}

.container{
  background-color: #ccc;
  opacity: .8;
  padding: 10px;
  margin: 10px;
  color: #000;
}
